@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

html{
    font-family: Roboto;
}

h1{
    text-align: center;
    text-decoration: underline;
}

p{
    margin: 1%;
}

hr{
    border: 2px solid black;
}

@media (max-width:768px){
    body{
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media (min-width:1080px){
    body{
        margin-left: 20%;
        margin-right: 20%;
    }
}

button{
    padding: 1%;
    font-family: Roboto;
}

hr#SmallLine{
    border: 1px solid black;
}

section#BigBorder{
    border: 5px solid black;
}

section#HomeButton{
    padding-top: 1%;
    text-align: center;
}

section#HomeButton button{
    padding: 5%;
}

section#IRNumber p{
    margin-top: 5%;
}
section#OccurrenceDate p{
    margin-top: 5%;
}
section#OccurrenceTime p{
    margin-top: 5%;
}

section#ColorThemeButton{
    text-align: right;
    padding-top: 10%;
    padding-right: 25%;
}

section#AddPersonButton{
    text-align: right;
    padding-top: 1%;
    padding-right: 1%;
}

section#AddPersonButton{
    text-align: right;
    padding-top: 1%;
    padding-right: 1%;
}

section#Top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#MainInfo1{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}

section#MainInfo2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#OccurrenceType{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

section#PersonalInfo1{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.50fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#PersonalInfo2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#PersonalInfo3{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#PersonalInfo4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#OfficerInfo{
    display: grid;
    grid-template-columns: repeat(2, .5fr) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#VehicleInfo1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#VehicleInfo2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

section#ColorThemeButton > button{
    margin-bottom: 5%;
}

section#SubmitButton > button{
    margin-top: 1%;
    margin-left: 1%;
}

section#Narritive h3{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

section#VehicleBikeInfoText h3{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

section#VehicleBikeDetails h3{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

section#OccurrenceType p input{
    width: 80%;
}

section#IRNumber p input{
    width: 81%;
}

section#OccurrenceTime p input{
    width: 33%;
}

section#OccurrenceDate p input{
    width: 37%;
}

section#Location p input{
    width: 78%;
}

section#LocationName p input{
    width: 63.75%;
}

section#LastName p input{
    width: 69%;
}

section#FirstName p input{
    width: 72%;
}

section#MiddleInitial p select{
    width: 77%;
}

section#Alias p input{
    width: 70%;
}

section#DOB p input{
    width: 65%;
}

section#Address p input{
    width: 58%;
}

section#Phone p input{
    width: 68%;
}

section#SSN p input{
    width: 76%;
}

section#DriverNumber p input{
    width: 71%;
}

section#Code p select{
    width: 51%;
}

section#Race p select{
    width: 60%;
}

section#Sex p select{
    width: 70%;
}

section#Height p input{
    width: 41%;
}

section#Weight p input{
    width: 38%;
}

section#Eyes p select{
    width: 62%;
}

section#Hair p select{
    width: 55%;
}

section#Marks p input{
    width: 37%;
}

section#Hazard p input{
    width: 62%;
}

section#Gang p input{
    width: 75%;
}

section#OfficerName p input{
    width: 63%;
    margin-top: 2%;
}

section#OfficerNumber p input{
    width: 63%;
    margin-top: 2%;
}

section#ReportDateTime p input{
    width: 59%;
}

section#VehicleNumber p input{
    width: 64%;
}

section#VINSerialNumber p input{
    width: 39%;
}

section#LicensePlateNumberState p input{
    width: 42%;
}

section#Color p select{
    width: 64%;
}

section#Year p input{
    width: 69%;
}

section#Make p input{
    width: 63%;
}

section#Model p input{
    width: 60%;
}

section#Style p input{
    width: 56%;
}

section#IRNumber p{
    padding-left: 6%;
}

section#IRNumber{
    text-align: left;
    padding-right: 1%;
}

section#OccurrenceDate{
    text-align: left;
}

section#OccurrenceTime{
    text-align: left;
    padding-right: 5%;
}

section#Location p{
    padding-left: 4%;
}

section#LastName{
    padding-left: 10%;
}

section#Address{
    padding-left: 6%;
}

section#Code{
    padding-left: 15%;
}

section#Marks{
    padding-left: 6%;
}

section#Narritive textarea{
    margin-left: 3%;
    width: 94%;
    height: 50%;
}

section#OfficerName{
    padding-left: 11%;
}

section#VehicleNumber{
    padding-left: 9%;
}

section#Color{
    padding-left: 16%;
}

section#VehicleBikeDetails textarea{
    margin-left: 3%;
    width: 94%;
    height: 50%;
    margin-bottom: 1%;
}