doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Police Department Report Form - New Form
section#Title
  h1 Police Department Report Form
section#ColorThemeButton
  button(type='button') Color Theme
section#MainInfo
  section#IRNumber
    p
      | I.R# 
      input(type='text' placeholder='')
  section#OccurrenceDate
    p
      | Occurrence Date(s) 
      input(type='text' placeholder='')
  section#OccurrenceTime
    p
      | Occurrence Time(s) 
      input(type='text' placeholder='')
  br
  // Line Break
  section#OccurrenceType
    p
      | Occurrence Type 
      input(type='text' placeholder='')
  br
  // Line Break
  section#Location
    p
      | Location 
      input(type='text' placeholder='')
  section#LocationName
    p
      | Location Name 
      input(type='text' placeholder='')
br
// ---------- Literal Line Break ----------
section#PersonalInfo
  section#LastName
    p
      | Last 
      input(type='text' placeholder='')
  section#FirstName
    p
      | First 
      input(type='text' placeholder='')
  section#MiddleInitial
    p
      | M
      select(name='initialdropdown')
        option(value='A') A
        option(value='B') B
        option(value='C') C
        option(value='D') D
        option(value='E') E
        option(value='F') F
        option(value='G') G
        option(value='H') H
        option(value='I') I
        option(value='J') J
        option(value='K') K
        option(value='L') L
        option(value='M') M
        option(value='N') N
        option(value='O') O
        option(value='P') P
        option(value='Q') Q
        option(value='R') R
        option(value='S') S
        option(value='T') T
        option(value='U') U
        option(value='V') V
        option(value='W') W
        option(value='X') X
        option(value='Y') Y
        option(value='Z') Z
  section#Alias
    p
      | Alias 
      input(type='text' placeholder='')
  section#DOB
    p
      | DOB 
      input(type='text' pattern='^d{2}/d{2}/d{4}$' placeholder='MM/DD/YYYY')
  br
  // Line Break
  section#Address
    p
      | Address 
      input(type='text' placeholder='')
  section#Phone
    p
      | Phone 
      input(type='tel' pattern='^d{3}-d{3}-d{4}$' placeholder='XXX-XXX-XXXX')
  section#SSNDriver
    p
      | SSN/DL# 
      input(type='text' placeholder='')
  br
  // Line Break
  section#Code
    p
      | Code
      select(name='codedropdown')
        option(value='Robbery') 211
        option(value='Threat') 236
        option(value='Drugs') 237
        option(value='Assault') 240
        option(value='WeaponsViolations') 245
        option(value='Rape') 261
        option(value='Fraud') 318
        option(value='DrunkDriver') 390D
        option(value='SubjectDisturbing') 415
        option(value='CriminalDamage') 415B
        option(value='ViolationOfCourtOrder') 415O
        option(value='Trespassing') 418T
        option(value='Homicide') 451
        option(value='Burglary') 459
        option(value='Theft') 487
        option(value='MissingPerson') 601
        option(value='SuspiciousPersonActivity') 647
        option(value='DeadBody') 901H
        option(value='InsanePerson') 918
        option(value='Collision') 961
  section#Race
    p
      | Race
      select(name='racedropdown')
        option(value='AmericanIndian') American Indian
        option(value='Asian') Asian
        option(value='AfricanAmerican') African American
        option(value='NativeHawaiian') Native Hawaiian
        option(value='Caucasian') Caucasian
        option(value='Hispanic') Hispanic
        option(value='Latino') Latino
  section#Sex
    p
      | Sex
      select(name='sexdropdown')
        option(value='Male') M
        option(value='Female') F
        option(value='Unknown') U
  section#Height
    p
      | Height 
      input(type='number' placeholder='')
  section#Weight
    p
      | Weight (lbs) 
      input(type='number' placeholder='')
  section#Eyes
    p
      | Eyes
      select(name='eyedropdown')
        option(value='Black') BLK
        option(value='Blue') BLU
        option(value='Brown') BRO
        option(value='Gray') GRY
        option(value='Green') GRN
        option(value='White') WHI
        option(value='Blonde') BLN
        option(value='Hazel') HAZ
        option(value='Red') RED
        option(value='Other') OTH
        option(value='Unknown') UNK
  section#Hair
    p
      | Hair
      select(name='hairdropdown')
        option(value='Black') BLK
        option(value='Blue') BLU
        option(value='Brown') BRO
        option(value='Gray') GRY
        option(value='Green') GRN
        option(value='White') WHI
        option(value='Bald') BLD
        option(value='Blonde') BLN
        option(value='Hazel') HAZ
        option(value='Red') RED
        option(value='Other') OTH
        option(value='Unknown') UNK
  br
  // Line Break
  section#Marks
    p
      | Scars/Marks/Tats 
      input(type='text' placeholder='')
  section#Hazard
    p
      | Hazardous 
      input(type='text' placeholder='')
  section#Gang
    p
      | Gang 
      input(type='text' placeholder='')
br
// ---------- Literal Line Break ----------
section#Narritive
  h3 Narritive
  input(type='text' placeholder='')
br
// ---------- Literal Line Break ----------
section#OfficerInfo
  section#OfficerName
    p
      | Officer 
      input(type='text' placeholder='')
  section#OfficerNumber
    p
      | Serial # 
      input(type='number' placeholder='')
  section#ReportDateTime
    p
      | Report Date/Time 
      input#report-time(type='datetime-local' name='report-time' value='2021-02-22T18:30' min='1860-01-01T00:00' max='9999-12-31T24:00')
br
// ---------- Literal Line Break ----------
section#VehicleBikeInfo
  section#VehicleBikeInfoText
    h3 Vehicle/Bike Information
  section#VehicleNumber
    p
      | Vehicle # 
      input(type='text' placeholder='')
  section#VINSerialNumber
    p
      | VIN/Serial Number 
      input(type='text' placeholder='')
  section#LicensePlateNumberState
    p
      | License #/State 
      input(type='text' placeholder='')
  br
  // Line Break
  section#Color
    p
      | Color
      select(name='colordropdown')
        option(value='Beige') BGE
        option(value='Black') BLK
        option(value='Blue') BLU
        option(value='DarkBlue') DBL
        option(value='LightBlue') LBL
        option(value='Bronze') BRZ
        option(value='Brown') BRO
        option(value='Gold') GLD
        option(value='Gray') GRY
        option(value='Green') GRN
        option(value='Marron') MRN
        option(value='Orange') ORG
        option(value='Pink') PNK
        option(value='Purple') PLE
        option(value='Red') RED
        option(value='Silver') SIL
        option(value='Tan') TAN
        option(value='Turquoise') TRQ
        option(value='White') WHI
        option(value='Yellow') YEL
        option(value='Teal') TEA
        option(value='Other') OTH
        option(value='Unknown') UNK
  section#Year
    p
      | Year 
      input(type='text' placeholder='')
  section#Make
    p
      | Make 
      input(type='text' placeholder='')
  section#Model
    p
      | Model 
      input(type='text' placeholder='')
  section#Style
    p
      | Style 
      input(type='text' placeholder='')
br
// ---------- Literal Line Break (but thinner) ----------
section#VehicleBikeDetails
  h3 Vehicle/Bike Details
  input(type='text' placeholder='')
br
// ---------- Literal Line Break ----------
section#ColorThemeButton
  button(type='submit') Submit
