doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Police Department Report Form
section#Title
  h1 Police Department Report Form
section#ColorThemeButton
  button(type='button') Color Theme
section#SearchFeature
  p
    | Search: 
    input(type='text' placeholder='Search')
    |  in 
    select(name='searchdropdown')
      option(value='IR') I.R#
      option(value='OccurrenceDate') Occurrence Date(s)
      option(value='OccurrenceTime') Occurrence Time(s)
      option(value='OccurrenceType') Occurrence Type
section#IRReportList
  ul
    a(href='report.html')
      li IR#(MM/DD/YYYY)
section#NewForm
  button(type='button') New Form
