doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='main.css')
  title Police Department Report Form
section#Title
  h1 Police Department Report Form
section#SearchFeature
  p
    | Search: 
    input(type='text' placeholder='Search')
    |  in 
    select(name='searchdropdown')
      option(value='IR') I.R#
      option(value='Name') Name
      option(value='DOB') DOB
      option(value='Code') Code
      option(value='Sec') Sex
      option(value='Height') Height
      option(value='Weight') Weight
      option(value='LicensePlate') License Plate #
      option(value='Make') Make
      option(value='Model') Model
      option(value='Year') Year
      option(value='Color') Color
section#IRReportList.scrollable
  ul
    section#option1
      a(href='form.html')
        li
          | IR#(MM/DD/YYYY) 
          br
          hr
          |                     Name: 
          br
          |                     DOB: 
          br
          |                     Code: 
          br
          |                     Sex: 
          br
          |                     Height: 
          br
          |                     Weight: 
          br
          hr
          |                     License Plate: 
          br
          |                     Make: 
          br
          |                     Model: 
          br
          |                     Year: 
          br
          |                     Color:
    section#option1
      a(href='form.html')
        li
          | IR#(MM/DD/YYYY) 
          br
          hr
          |                     Name: 
          br
          |                     DOB: 
          br
          |                     Code: 
          br
          |                     Sex: 
          br
          |                     Height: 
          br
          |                     Weight: 
          br
          hr
          |                     License Plate: 
          br
          |                     Make: 
          br
          |                     Model: 
          br
          |                     Year: 
          br
          |                     Color:
    section#option1
      a(href='form.html')
        li
          | IR#(MM/DD/YYYY) 
          br
          hr
          |                     Name: 
          br
          |                     DOB: 
          br
          |                     Code: 
          br
          |                     Sex: 
          br
          |                     Height: 
          br
          |                     Weight: 
          br
          hr
          |                     License Plate: 
          br
          |                     Make: 
          br
          |                     Model: 
          br
          |                     Year: 
          br
          |                     Color:
section#NewForm
  a(href='form.html')
    button(type='button') New Form
  a(href='person.html')
    button(type='button') New Person
  a(href='vehicle.html')
    button(type='button') New Vehicle/Bike
script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
script.
  function addDarkmodeWidget() {
  new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
