doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/stylesheets/main.css')
  title Police Department Report Form
section#Title
  h1 Police Department Report Form
section#IRReportList.scrollable
  ul
    section#option1
      a(href='form.html')
        li
          | IR#123123123
          br
          hr
          |                     Name: Laura Blake
          br
          |                     DOB: 01/01/0001
          br
          |                     Code: RED
          br
          |                     Sex: Female
          br
          |                     Height: 7'2
          br
          |                     Weight: 250lbs
          br
          hr
          |                     License Plate: BLAKE
          br
          |                     Make: BLAKE
          br
          |                     Model: BLAKE
          br
          |                     Year: 0001
          br
          |                     Color: RED
    section#option1
      a(href='form.html')
        li
          | IR#(MM/DD/YYYY) 
          br
          hr
          |                     Name: 
          br
          |                     DOB: 
          br
          |                     Code: 
          br
          |                     Sex: 
          br
          |                     Height: 
          br
          |                     Weight: 
          br
          hr
          |                     License Plate: 
          br
          |                     Make: 
          br
          |                     Model: 
          br
          |                     Year: 
          br
          |                     Color:
    section#option1
      a(href='form.html')
        li
          | IR#(MM/DD/YYYY) 
          br
          hr
          |                     Name: 
          br
          |                     DOB: 
          br
          |                     Code: 
          br
          |                     Sex: 
          br
          |                     Height: 
          br
          |                     Weight: 
          br
          hr
          |                     License Plate: 
          br
          |                     Make: 
          br
          |                     Model: 
          br
          |                     Year: 
          br
          |                     Color:
section#NewForm
  a(href='/catalog/form/create')
    button(type='button') New Form
  a(href='/catalog/person/create')
    button(type='button') New Person
  a(href='/catalog/vehicle/create')
    button(type='button') New Vehicle/Bike
script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
script.
  function addDarkmodeWidget() {
  new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
