doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src='/javascripts/delteButton.js')
  link(rel='stylesheet' href='/stylesheets/incident.css')
  title Police Department Report Form - New Form
section#Top
  section#HomeButton
    a(href='/catalog')
      button(type='button') Go Back
  section#Title
    h1 Person Details
  section#ColorThemeButton
section#BigBorder
  br
  section#PersonalInfo
    section#PersonalInfo1
      section#LastName
        p
          | Last 
          input(type='text' placeholder='' readonly='')
      section#FirstName
        p
          | First 
          input(type='text' placeholder='' readonly='')
      section#MiddleInitial
        p
          | M 
          input(type='text' placeholder='' readonly='')
      section#Alias
        p
          | Alias 
          input(type='text' placeholder='' readonly='')
      section#DOB
        p
          | DOB 
          input(type='text' pattern='^d{2}/d{2}/d{4}$' placeholder='MM/DD/YYYY' readonly='')
    section#PersonalInfo2
      section#Address
        p
          | Address 
          input(type='text' placeholder='' readonly='')
      section#Phone
        p
          | Phone 
          input(type='tel' pattern='^d{3}-d{3}-d{4}$' placeholder='XXX-XXX-XXXX' readonly='')
      section#SSN
        p
          | SSN 
          input(type='text' placeholder='' readonly='')
      section#DriverNumber
        p
          | DL# 
          input(type='text' placeholder='' readonly='')
    section#PersonalInfo3
      section#Code
        p
          | Code 
          input(type='text' placeholder='' readonly='')
      section#Race
        p
          | Race 
          input(type='text' placeholder='' readonly='')
      section#Sex
        p
          | Sex 
          input(type='text' placeholder='' readonly='')
      section#Height
        p
          | Height 
          input(type='number' placeholder='' readonly='')
      section#Weight
        p
          | Weight 
          input(type='number' placeholder='' readonly='')
      section#Eyes
        p
          | Eyes 
          input(type='text' placeholder='' readonly='')
      section#Hair
        p
          | Hair 
          input(type='text' placeholder='' readonly='')
    section#PersonalInfo4
      section#Marks
        p
          | Scars/Marks/Tats 
          input(type='text' placeholder='' readonly='')
      section#Hazard
        p
          | Hazardous 
          input(type='text' placeholder='' readonly='')
      section#Gang
        p
          | Gang 
          input(type='text' placeholder='' readonly='')
  br
section#DeleteButton
  button(type='submit' onclick='deleteButton()') Delete Form
script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
script.
  function addDarkmodeWidget() {
  new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
